<div class="short donate_header" id="donate_banner">
  <div class="wrapper-color-content">
    <button type="button" class="donate_close" id="donate_close_btn" aria-label="Hide banner" title="Hide banner">▴</button>
    <h1 style="color: white; font-weight: bold; font-size: 200%;">{{ T "donate_title" }} 🇺🇦</h1>

    <div>
      <a class="link" href="{{ T "donate_social_drone_url" }}">
        🔥 {{ T "donate_social_drone" }}
      </a>
      <a class="link" href="https://savelife.in.ua/en/donate-en/">
        🔥 {{ T "donate_charity" }}
      </a>
      <a class="link" href="https://crisisrelief.un.org/en/ukraine-crisis">
        💛 {{ T "donate_un_fund" }}
      </a>
    </div>
  </div>
</div>
