{{ define "main" }}

{{ partial "donate.html" . }}

<div class="short wiki">
  <div class="wrapper-color-content">
    <h3>{{ T "home_what_is_title" }}</h3>
    <h4>{{ T "home_what_is_subtitle" | safeHTML }}</h4>
    <div class="highlights">
      <a href="/documentation.html">{{ T "home_concise_api" }}</a>
      <span>{{ T "home_stable_tests" }}</span>
      <span>{{ T "home_powerful_selectors" }}</span>
      <span>{{ T "home_simple_config" }}</span>
    </div>
    <div class="mt-1">
      {{ T "home_what_is_desc1" }}
    </div>
    <div class="mt-1">
      <b> {{ T "home_what_is_desc2" }} </b>
    </div>

    <a href="/quick-start.html">
      <img style="margin-top: 15px; margin-bottom: -33px" src="/images/arrow-down.png" width="30" height="55" border="0"/>
    </a>
  </div>
</div>

{{ partial "quicklinks.html" . }}

<div class="short howto">
  <div class="wrapper-color-content">
    <h3>{{ T "home_quick_start_title" }}</h3>
    <h4>{{ T "home_quick_start_subtitle" }}</h4>

    <div>
      {{ T "home_quick_start_desc1_pre" }} <a href="https://search.maven.org/remotecontent?filepath=com/codeborne/selenide/{{ .Site.Params.selenideVersion }}/selenide-{{ .Site.Params.selenideVersion }}.jar">selenide.jar</a> {{ T "home_quick_start_desc1_post" }}
    </div>
    {{ with T "home_quick_start_desc2" }}
    <div>
      {{ . }}
    </div>
    {{ end }}

    <a href="/quick-start.html">
      <img style="margin-top: 15px; margin-bottom: -33px" src="/images/arrow-down.png" width="30" height="55" border="0"/>
    </a>
  </div>
</div>

<div class="short docs">
  <div class="wrapper-color-content">
    <h3>{{ T "home_docs_title" }}</h3>
    <h4>
      {{ T "home_docs_subtitle_1" }} <span class="bold">{{ T "home_docs_subtitle_1b" }}</span> {{ T "home_docs_subtitle_1c" }}
      {{ T "home_docs_subtitle_2" }} <span class="bold">{{ T "home_docs_subtitle_2b" }}</span> {{ T "home_docs_subtitle_2c" }}
    </h4>

    <div>
      {{ T "home_docs_desc1" }}
    </div>
    <div class="mt-1">
      {{ T "home_docs_desc2" }}
    </div>
    <a href="/documentation.html">
      <img style="margin-top: 15px; margin-bottom: -33px" src="/images/arrow-down.png" width="30" height="55" border="0"/>
    </a>

  </div>
</div>

<div class="short feedback">
  <div class="wrapper-color-content">

    <h3>{{ T "home_contacts_title" }}</h3>
    <h4>{{ T "home_contacts_subtitle" }}</h4>

    <div>{{ T "home_contacts_desc" }}</div>
    <div class="highlights">
      <a href="{{ T "home_googlegroup_url" }}">{{ T "home_googlegroup" }}</a>
      {{ if eq .Site.Language.Lang "ru" }}
        <a href="https://automated-testing.info/c/webdriver/selenide">automated-testing.info</a>
      {{ end }}
      <a href="{{ T "home_gitter_url" }}">Gitter</a>
      {{ if eq .Site.Language.Lang "ru" }}<a href="https://twitter.com/selenide">Твиттер</a>{{ else }}<a href="https://twitter.com/selenide">Twitter</a>{{ end }}
      {{ if eq .Site.Language.Lang "ru" }}<a href="{{ T "home_telegram_url" }}">Телеграм</a>{{ else }}<a href="{{ T "home_telegram_url" }}">Telegram</a>{{ end }}
    </div>

  </div>
</div>

<div class="short testimonials">
  <div class="wrapper-color-content">
    <h3>{{ T "home_testimonials_title" }}</h3>
    <h4>{{ T "home_testimonials_quote" }}</h4>

    <div>KAUR MÄTAS,</div>
    <div>{{ T "home_testimonials_author_role" }}</div>

    <a href="/users.html">
      <img style="margin-top: 15px; margin-bottom: -33px" src="/images/arrow-down.png" width="30" height="55" border="0"/>
    </a>
  </div>
</div>

<div class="wrapper-content center" style="padding-top: 25px;">
  <a class="twitter-timeline" href="https://twitter.com/selenide?ref_src=twsrc%5Etfw">Tweets by selenide</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<a name="thanks"></a>
<div class="short thanks">
  <h4>{{ T "home_thanks_title" }}</h4>
  <div id="sponsors">
    <div class="sponsor">
      <a href="https://jb.gg/OpenSource?from=selenide.org" target="_blank">
        <img src="{{ if eq .Site.Language.Lang "ru" }}https://resources.jetbrains.com/storage/products/company/brand/logos/jetbrains.svg{{ else }}/images/jetbrains.svg{{ end }}" height="140px" alt="{{ T "home_jetbrains_alt" }}"/>
      </a>
    </div>
    <div class="sponsor">
      <a href="https://www.browserstack.com/?utm_source=selenide&utm_medium=partnered" target="_blank">
        <img src="https://www.browserstack.com/images/mail/browserstack-logo-footer.png" alt="BrowserStack"/>
      </a>
    </div>
    <div class="sponsor">
      <a href="http://www.seleniumhq.org/" target="_blank">
        <img src="/images/selenium-logo.png" height="90" alt="Selenium WebDriver"/>
      </a>
    </div>
    <div class="sponsor" style="color: black;">
      {{ T "home_browser_testing_via" }} <a href="https://www.testmu.ai" target="_blank"><br/>
      <img src="https://www.testmu.ai/support/img/logo.svg" style="vertical-align: middle;margin-left:5px" width="160" />
      </a>
    </div>
  </div>
</div>

{{ end }}
