---
layout: default
---
{% include JB/setup %}

<div class="short blog_post_header">
  <div class="wrapper-color-content">
    <h1 style="color: white; font-weight: bold; font-size: 200%;">Selenide Supports Ukraine 🇺🇦</h1>

    <div>
      <a style="color: yellow;" href="https://crisisrelief.un.org/t/ukraine">
        💛 Donate to UN’s Ukraine Humanitarian Fund
      </a>
    </div>
  </div>
</div>

<div class="short" style="color: #222; margin-bottom: 3vh;">
  <h4 style="color: #222;">{{ page.title }}</h4>
  {{ page.header-text }}
</div>

<div class="wrapper-content blog_post">
  <section>
    <div class="blog_post_content">
      {{ content }}
    </div>
    {% include JB/comments %}
  </section>
</div>
