---
layout: default
---
{% include JB/setup %}

<div class="short blog_post_header">
  <div class="wrapper-color-content">
    <h1 style="color: white; font-weight: bold; font-size: 200%;">Selenide Supports Ukraine 🇺🇦</h1>
    <p style="color: white;">In solidarity, we ask that you consider financially supporting efforts such as:</p>

    <div>
      <a style="color: yellow;" href="https://savelife.in.ua/en/donate/">Charity supporting the Ukrainian army</a>
    </div>
    <div>
      <a style="padding: 0 1vw; color: yellow;" href="https://my.care.org/site/Donation2">Ukraine Crisis Fund</a>
      <a style="padding: 0 1vw; color: yellow;" href="https://support.savethechildren.org/site/Donation2">Ukraine Crisis Relief Fund - Save the Children</a>
    </div>
  </div>
</div>

<div class="wrapper-content blog_post">
  <section>
    <div class="blog_post_content">
      {{ content }}
    </div>
    {% include JB/comments %}
  </section>
</div>
